<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Code challenge</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    </head>
    <body>
        <style>
            header{
                position: relative;
            }

            header form{
                position: absolute;
                bottom: 20px;
                right: 0;
            }
        </style>
        <script>
            var CHALLENGES = [
                {
                    description: "Given an IPv4 address and a subnet mask, compute the network, broadcast and first/last host addresses",
                    difficulty: "easy"
                },
                {
                    description: "Bellman-Ford simulation(at least five vertices)",
                    difficulty: "medium"
                }
            ];
            var LANGUAGES = [
                {
                    name: "C",
                    platforms: [
                        {
                            name: "Windows",
                            frameworks: [
                                    "qt"
                            ]
                        },
                        {
                            name: "Linux",
                            frameworks: [
                                "qt"
                            ]
                        }
                    ]
                },
                {
                    name: "C++",
                    platforms: [
                        {
                            name: "Windows",
                            frameworks: [
                                "qt"
                            ]
                        },
                        {
                            name: "Linux",
                            frameworks: [
                                "qt"
                            ]
                        }
                    ]
                },
                {
                    name: "Java",
                    platforms: [
                        {
                            name: "Android"
                        },
                        {
                            name: "Desktop"
                        },
                        {
                            name: "Server"
                        },
                        {
                            name: "Browser"
                        }
                    ]
                },
                {
                    name: "JavaScript",
                    platforms: [
                        {
                            name: "Browser",
                            frameworks: [
                                "Angular",
                                "React",
                                "VanillaJS"
                            ]
                        },
                        {
                            name: "Node.js",
                            frameworks: [
                                "Express"
                            ]
                        },
                        {
                            name: "Mobile"
                        }
                    ]
                },
                {
                    name: "PHP"
                },
                {
                    name: "Ruby"
                },
                {
                    name: "Python"
                },
                {
                    name: "ELM"
                },
                {
                    name: "Haskell"
                }
            ];
            angular.module("CodeChallenge", []).controller("App", function($scope){
                $scope.easy = true;
                $scope.medium = true;
                $scope.hard = true;
                $scope.search = function(){
                    var filtered = CHALLENGES.filter(function(challenge){
                        switch(challenge.difficulty){
                            case "easy": return $scope.easy;
                            case "medium": return $scope.medium;
                            case "hard": return $scope.hard;
                        }
                    });
                    var index = Math.floor(Math.random() * filtered.length);
                    $scope.challenge = filtered[index];
                };
                $scope.search();
                $scope.searchLanguage = function(){
                    $scope.language = LANGUAGES[Math.floor(Math.random() * LANGUAGES.length)]
                    $scope.platform = null;
                    $scope.framework = null;
                };
                $scope.searchPlatform = function(){
                    var index = Math.floor(Math.random() * $scope.language.platforms.length);
                    $scope.platform = $scope.language.platforms[index]
                    $scope.framework = null;
                };
                $scope.searchFramework = function(){
                    var index = Math.floor(Math.random() * $scope.platform.frameworks.length);
                    $scope.framework = $scope.platform.frameworks[index];
                }
            })
        </script>
        <div class="container" ng-app="CodeChallenge">
            <div class="row" ng-controller="App">
                <header class="page-header col-sm-12">
                    <form class="form-inline" ng-submit="search()">
                        <div class="form-group">
                            <label>Search:</label>
                            <input type="checkbox" ng-model="easy"> Easy
                            <input type="checkbox" ng-model="medium"> Medium
                            <input type="checkbox" ng-model="hard"> Hard
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Roll the dice</button>
                    </form>
                    <small>Bored? Learning a new language? Need a challenge?</small><br/>
                    <h1>How about...</h1>
                </header>
                <section class="col-sm-12">
                    <blockquote>
                        {{challenge.description}}
                        <footer>
                            <strong>Difficulty:</strong>
                            <span ng-switch on="challenge.difficulty">
                                <span ng-switch-when="easy">
                                    <i style="background: green; display: inline-block; width: 1em; height: 1em"></i> Easy
                                </span>
                                <span ng-switch-when="medium">
                                    <i style="background: yellow; display: inline-block; width: 1em; height: 1em"></i> Medium
                                </span>
                                <span ng-switch-when="hard">
                                    <i style="background: red; display: inline-block; width: 1em; height: 1em"></i> Hard
                                </span>
                            </span>
                        </footer>
                        <footer>
                            <strong>Bonus points:</strong>
                            <ul>
                                <li>with your hands tied behind your back</li>
                            </ul>
                        </footer>
                    </blockquote>
                    <p>


                    </p>
                    <p>

                    </p>
                    <p>
                        <button class="btn btn-default" ng-click="search()">Nope</button>
                        <button class="btn btn-default" ng-click="searchLanguage()">Suggest a language</button>
                        <button class="btn btn-default" ng-if="language && language.platforms" ng-click="searchPlatform()">
                            Suggest a platform
                        </button>
                        <button class="btn btn-default" ng-if="platform && platform.frameworks" ng-click="searchFramework()">
                            Suggest a framework
                        </button>
                    </p>
                    <p ng-if="language">
                        How about you do that in <mark>{{language.name}}</mark>
                        <span ng-if="platform">
                            for <mark>{{platform.name}}</mark>
                        </span>
                        <span ng-if="framework">
                            using <mark>{{framework}}</mark>
                        </span>
                    </p>
                </section>
                <section class="col-sm-12">
                    Don't mind me, just trying to make some beer money here.
                </section>
                <footer class="col-sm-12">
                    Alexei Savca 2016, Whatever The Fuck Licence
                </footer>
            </div>
        </div>
    </body>
</html>